

body {
}

gaia-list > .inner a {
    padding-left: 0px;
    padding-right: 0px;
}

.main-title {
    text-align: center;
}

.section-label {
    margin: 0.7em;
    font-weight: bold;
}

article h2 {
    font-size: larger;
    font-style: italic;
    padding: 1em;
}

article p {
    padding-top: 5px;
    padding-bottom: 5px;
}

article {
    padding: 5px;
}

.info-box {
    border: 1px solid black;
    background-color: white;
    margin: 1em;
}

.info-text {
    font-size: small;
    font-family: inherit;
    padding: 0.7em;
}