

body {
}

.main-title {
    text-align: center;
}

.section-label {
    
}

.info-box {
    border: 1px solid black;
    background-color: white;
    margin: 1em;
}

.info-text {
    margin: 1em;
    font-size: small;
    font-family: serif;
}