---
title: Foxfooding
---
{% include header.html %}

<gaia-header id="title">
  <div class="inner">
    <h1 class="main-title" data-l10n-id="app_title">Foxfooding</h1>
  </div>
</gaia-header>

  <h2 class="section-label">News</h2>
  <section id="news" class="info-box">
    <gaia-list class="info-text">
      <div class="inner">
        {% assign has_items = false %}
        {% for post in site.posts %}
        {% if post.layout == 'news' %}
        <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ items }} {{ post.title }}</a>
        {{ post.date | date_to_long_string }}
        {% assign has_items = true %}
        {% endif %}
        {% endfor %}
        {% if has_items == false %}
        <a>No news.</a>
        {% endif %}
      </div>
    </gaia-list>
  </section>

  <h2 class="section-label">Updates</h2>
  <section id="updates" class="info-box">
    <gaia-list class="info-text">
      <div class="inner">
        {% assign has_items = false %}
        {% for post in site.posts %}
        {% if post.layout == 'updates' %}
        <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
        {{ post.date | date_to_long_string }}
        {% assign has_items = true %}
        {% endif %}
        {% endfor %}
        {% if has_items == false %}
        <a>No updates.</a>
        {% endif %}
      </div>
    </gaia-list>
  </section>

  <h2 class="section-label">Issues</h2>
  <section id="issues" class="info-box">
    <gaia-list class="info-text">
      <div class="inner">
        {% assign has_items = false %}
        {% for post in site.posts %}
        {% if post.layout == 'issues' %}
        <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
        {{ post.date | date_to_long_string }}
        {% assign has_items = true %}
        {% endif %}
        {% endfor %}
        {% if has_items == false %}
        <a>No known issues.</a>
        {% endif %}
      </div>
    </gaia-list>
  </section>

{% include footer.html %}
