---
title: Settings
---
{% include header.html %}

  <h2>Settings</h2>

  <div class="settings-container container">
    <div class="row">
      <div class="col-xs-4 col-md-3">
        <label for="notifications">Notifications</label>
      </div>
      <div class="col-xs-4 col-md-3">
        <input id="notifications" name="notifications" type="checkbox"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-3">
        <label for="updates">Updates</label>
      </div>
      <div class="col-xs-4 col-md-3">
        <input id="updates" name="updates" type="checkbox"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-3">
        <label for="news">News</label>
      </div>
      <div class="col-xs-4 col-md-3">
        <input id="news" name="news" type="checkbox"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-3">
        <label for="issues">Issues</label>
      </div>
      <div class="col-xs-4 col-md-3">
        <input id="issues" name="issues" type="checkbox"></input>
      </div>
    </div>
  </div>

  <script src="js/settings.js"></script>

{% include footer.html %}
