---
title: Settings
---
{% include header.html %}

  <h2>Settings</h2>
  <br>
  <table class="table table-striped">
    <tr>
      <td>Notifications</td>
      <td class="text-right"><input name="notifications" type="checkbox"></input></td>
    </tr>
    <tr>
      <td>Updates</td>
      <td class="text-right"><input name="notifications-update" type="checkbox"></input></td>
    </tr>
    <tr>
      <td>News</td>
      <td class="text-right"><input name="notifications-news" type="checkbox"></input></td>
    </tr>
    <tr>
      <td>Issues</td>
      <td class="text-right"><input name="notifications-issue" type="checkbox"></input></td>
    </tr>
  </dl>
  <script src="js/settings.js"></script>

{% include footer.html %}
