<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <meta charset="utf-8">
  <meta name="theme-color" content="#eeeeee">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/base/base.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/gaia-theme/gaia-theme.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/gaia-fonts/style.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/gaia-icons/gaia-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/wc/gaia-header.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/wc/gaia-list.css">

  <script src="{{ site.baseurl }}/bower_components/gaia-component/gaia-component.js"></script>
  <link rel="localization" href="{{ site.baseurl }}/data/{locale}.properties" />
  <script type="text/javascript" src="{{ site.baseurl }}/js/libs/l10n.js" defer></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/foxfooding.js" defer></script>

  <link rel="stylesheet" type="text/css" href="app://theme.gaiamobile.org/shared/elements/gaia-theme/gaia-theme.css">
  <meta name="theme-color" content="var(--header-background)">

  <meta name="defaultLanguage" content="en-US">
</head>
<body id="container" class="theme-productivity">
